In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('./DogMoveData.csv')
data2 = pd.read_csv('./HPI_Datatable_FINAL.csv')
data3 = pd.read_csv('./Output_labeling_data_221129_FINAL.csv')
data4 = pd.read_csv('./dog_behavior_data_ver3.csv')

In [3]:
data1['t_sec']=(data1['t_sec']*1000).tolist()
data1['t_sec']=pd.to_datetime(data1['t_sec'], unit='ms', origin='2022-10-01 16:00:00.000')

In [4]:
data1=data1.iloc[::2, :] #짝수 인덱스 행만 추출
idx=[]

task_undefined=data1[(data1['Task']=='<undefined>')].index # Task가 <undefined> 인 인덱스 찾기

data1=data1.drop(task_undefined) #행 제거
data1=data1.reset_index(drop=True) #인덱스 초기화

data1.Task.value_counts()

Task play            576760
Task lie down        575800
Task treat-search    574915
Task sit             573461
Task walk            569738
Task stand           569362
Task trot            568901
Name: Task, dtype: int64

In [5]:
task_play=data1[(data1['Task']=='Task play')] # Task가 Task play 인 것만 추출

task_play_lying=(task_play[((task_play['Behavior_1']=='Lying chest') | (task_play['Behavior_2']=='Lying chest') | (task_play['Behavior_3']=='Lying chest'))].index).tolist() # lying chest 하나 이상 포함된 인덱스 찾기
task_play_eating=(task_play[((task_play['Behavior_1']=='Eating') | (task_play['Behavior_2']=='Eating') | (task_play['Behavior_3']=='Eating'))].index).tolist() # Eating 하나 이상 포함된 인덱스 찾기
task_play_panting=(task_play[((task_play['Behavior_1']=='Panting') | (task_play['Behavior_2']=='Panting') | (task_play['Behavior_3']=='Panting'))].index).tolist() # Panting 하나 이상 포함된 인덱스 찾기
task_play_pacing=(task_play[((task_play['Behavior_1']=='Pacing') | (task_play['Behavior_2']=='Pacing') | (task_play['Behavior_3']=='Pacing'))].index).tolist() # Pacing 하나 이상 포함된 인덱스 찾기
task_play_standing=(task_play[((task_play['Behavior_1']=='Standing') | (task_play['Behavior_2']=='Standing') | (task_play['Behavior_3']=='Standing'))].index).tolist() # Standing 하나 이상 포함된 인덱스 찾기
task_play_sitting=(task_play[((task_play['Behavior_1']=='Sitting') | (task_play['Behavior_2']=='Sitting') | (task_play['Behavior_3']=='Sitting'))].index).tolist() # Sitting 하나 이상 포함된 인덱스 찾기
task_play_sniffing=(task_play[((task_play['Behavior_1']=='Sniffing') | (task_play['Behavior_2']=='Sniffing') | (task_play['Behavior_3']=='Sniffing'))].index).tolist() # Sniffing 하나 이상 포함된 인덱스 찾기
task_play_bowing=(task_play[((task_play['Behavior_1']=='Bowing') | (task_play['Behavior_2']=='Bowing') | (task_play['Behavior_3']=='Bowing'))].index).tolist() # Bowing 하나 이상 포함된 인덱스 찾기

idx=task_play_lying+task_play_eating+task_play_panting+task_play_pacing+task_play_standing+task_play_sitting+task_play_sniffing+task_play_bowing # 찾은 인덱스를 하나의 리스트에 저장

data1=data1.drop(idx) #행 제거

data1=data1.reset_index(drop=True) #인덱스 초기화

In [6]:
data1=data1.drop(labels=['TestNum', 'ABack_x', 'ABack_y', 'ABack_z', 'GBack_x', 'GBack_y', 'GBack_z', 'Task', 'Behavior_1', 'Behavior_2', 'Behavior_3', 'PointEvent'], axis=1) #열 제거

data1.columns=['Pname', 'Htime', 'Gyro_x', 'Gyro_y', 'Gyro_z', 'Acc_x', 'Acc_y', 'Acc_z'] #컬럼명 재정의

data1=data1[['Htime', 'Gyro_x', 'Gyro_y', 'Gyro_z', 'Acc_x', 'Acc_y', 'Acc_z', 'Pname']] #컬럼 순서 변경

In [7]:
data1['Cnt'] = np.random.randint(0, 100, size=len(data1))

In [8]:
data1 = data1.reindex(columns=['Htime', 'Cnt', 'Gyro_x' , 'Gyro_y', 'Gyro_z', 'Acc_x', 'Acc_y', 'Acc_z', 'Pname'])
data1

,Htime,Cnt,Gyro_x,Gyro_y,Gyro_z,Acc_x,Acc_y,Acc_z,Pname
0,2022-10-01 16:01:29.380,77,-0.374023,0.665527,-0.833496,-41.992190,14.709474,-52.734378,16
1,2022-10-01 16:01:29.400,98,-0.283203,0.705566,-0.800293,-4.333496,-10.925294,-55.358890,16
2,2022-10-01 16:01:29.420,54,-0.258789,0.714844,-0.855957,2.380371,-28.381349,-58.410648,16
3,2022-10-01 16:01:29.440,79,-0.144043,0.713379,-0.648438,14.892579,7.995606,-52.185062,16
4,2022-10-01 16:01:29.460,75,-0.042480,0.918945,-0.737793,3.051758,34.240725,-60.180668,16
...,...,...,...,...,...,...,...,...,...
3975890,2022-10-01 16:32:08.140,7,-0.305176,0.634277,-0.668457,-133.789071,119.873054,-134.765633,74
3975891,2022-10-01 16:32:08.160,92,-0.389648,0.590332,-0.557617,-121.337898,120.910652,-132.263192,74
3975892,2022-10-01 16:32:08.180,89,-0.533203,0.495605,-0.592285,-125.854500,110.900886,-123.718269,74
3975893,2022-10-01 16:32:08.200,1,-0.671875,0.241211,-0.660645,-116.455085,97.534186,-123.229988,74
3975894,2022-10-01 16:32:08.220,95,-0.685059,0.211426,-0.578613,-87.463384,101.257330,-128.601082,74

In [9]:
data1.to_csv('kaggle_data.csv', index=False)

In [10]:
data2 = data2.drop(['Mag_x', 'Mag_y', 'Mag_z', 'Roll', 'Pitch', 'Yaw', 'WD_Mac'], axis=1)
data2

,Htime,Cnt,Gyro_x,Gyro_y,Gyro_z,Acc_x,Acc_y,Acc_z,Pname
0,2022-10-25 19:35:53.840,146899,0.9618,-0.3664,-0.0763,-0.0352,0.0195,-0.9941,nana
1,2022-10-25 19:35:53.860,146900,0.9618,-0.0916,0.0153,-0.0400,0.0327,-0.9971,nana
2,2022-10-25 19:35:53.880,146901,0.5038,-0.3206,0.0305,-0.0386,0.0146,-0.9971,nana
3,2022-10-25 19:35:53.900,146902,0.9160,0.0000,0.0305,-0.0410,0.0273,-1.0024,nana
4,2022-10-25 19:35:53.920,146903,0.8550,0.1527,-0.0458,-0.0449,0.0176,-0.9917,nana
...,...,...,...,...,...,...,...,...,...
5127983,2022-10-25 19:35:53.920,146903,0.8550,0.1527,-0.0458,-0.0449,0.0176,-0.9917,nana
5127984,2022-10-25 19:35:53.900,146902,0.9160,0.0000,0.0305,-0.0410,0.0273,-1.0024,nana
5127985,2022-10-25 19:35:53.880,146901,0.5038,-0.3206,0.0305,-0.0386,0.0146,-0.9971,nana
5127986,2022-10-25 19:35:53.860,146900,0.9618,-0.0916,0.0153,-0.0400,0.0327,-0.9971,nana
5127987,2022-10-25 19:35:53.840,146899,0.9618,-0.3664,-0.0763,-0.0352,0.0195,-0.9941,nana

In [11]:
result = pd.concat([data1, data2], axis=0)

In [12]:
result.to_csv('Capston_datatable.csv', index=False)

In [13]:
data3.drop('Index', axis=1, inplace=True)
data3.drop('filename', axis=1, inplace=True)
data3.drop('Class', axis=1, inplace=True)

data3 = data3.rename(columns={'Pname': '이름'})
data3 = data3.rename(columns={'starttime_ms': '시작시간(ms)'})
data3 = data3.rename(columns={'starttime': '시작시간'})
data3 = data3.rename(columns={'endtime_ms': '종료시간(ms)'}) 
data3 = data3.rename(columns={'endtime': '종료시간'})
data3 = data3.rename(columns={'pose': '자세'})
data3 = data3.rename(columns={'behavior': '행동'})
data3 = data3.rename(columns={'sound': '소리'})

data3['기타'] = np.nan

data3['자세'] = data3['자세'].replace({
    1:'서다',
    2:'뒷다리만 앉다',
    3:'모든 발이 앉다 (머리는 들고있음)', 
    4:'두 앞발을 들어올리다',
    5:'모든 발과 머리가 바닥과 닿은 채로 눕다',
    6:'옆으로 등을 대고 눕다',
    0:'해당없음'
})

data3['행동'] = data3['행동'].replace({
    8:'해당없음', 
    9:'걷다', 
    17:'먹다',                                                   
    13:'킁킁대다'
})

data3['소리'] = data3['소리'].replace({
    20:'해당없음', 
    21:'짖다', 
    23:'으르렁거리다'
})

In [14]:
print(data4['자세'].unique())

['Task walk' 'Task sit' 'Task trot' 'Task lie down' 'Task play'
 'Task stand' 'Task treat-search']

In [15]:
data4['자세'] = data4['자세'].replace({
    'Task walk':'걷다',
    'Task sit':'뒷다리만 앉다',
    'Task trot':'빠른걸음', 
    'Task lie down':'모든 발과 머리가 바닥과 닿은 채로 눕다',
    'Task play':'놀다',
    'Task stand':'서다',
    'Task treat-search':'킁킁대다'
})

In [16]:
data3

,이름,시작시간(ms),시작시간,종료시간(ms),종료시간,자세,행동,소리,기타
0,bomsoon,63075,2022-11-06 16:48:07.010,70075,2022-11-06 16:48:14.010,서다,해당없음,해당없음,NaN
1,bomsoon,76075,2022-11-06 16:48:20.010,101575,2022-11-06 16:48:45.510,서다,해당없음,해당없음,NaN
2,bomsoon,120675,2022-11-06 16:49:04.610,123075,2022-11-06 16:49:07.010,두 앞발을 들어올리다,해당없음,해당없음,NaN
3,bomsoon,126775,2022-11-06 16:49:10.710,132275,2022-11-06 16:49:16.210,해당없음,걷다,해당없음,NaN
4,bomsoon,137275,2022-11-06 16:49:21.210,140875,2022-11-06 16:49:24.810,해당없음,걷다,해당없음,NaN
...,...,...,...,...,...,...,...,...,...
1883,potato,87456,2022-11-15 18:08:41.987,107025,2022-11-15 18:09:01.556,옆으로 등을 대고 눕다,해당없음,해당없음,NaN
1884,potato,110245,2022-11-15 18:09:04.776,125759,2022-11-15 18:09:20.290,옆으로 등을 대고 눕다,해당없음,해당없음,NaN
1885,potato,0,2022-11-15 23:26:29.016,12438,2022-11-15 23:26:41.454,옆으로 등을 대고 눕다,해당없음,해당없음,NaN
1886,potato,0,2022-11-18 09:23:49.072,12321,2022-11-18 09:24:01.393,모든 발과 머리가 바닥과 닿은 채로 눕다,먹다,해당없음,NaN
1887,potato,13765,2022-11-18 09:24:02.837,86444,2022-11-18 09:25:15.516,모든 발과 머리가 바닥과 닿은 채로 눕다,먹다,해당없음,NaN

In [17]:
data4

,이름,시작시간(ms),시작시간,종료시간(ms),종료시간,자세,행동,소리,기타
0,16,90820.0,2022-10-01 16:01:30.820,272020.0,2022-10-01 16:04:32.020,걷다,해당없음,해당없음,NaN
1,16,323700.0,2022-10-01 16:05:23.700,503660.0,2022-10-01 16:08:23.660,뒷다리만 앉다,해당없음,해당없음,NaN
2,16,560700.0,2022-10-01 16:09:20.700,744460.0,2022-10-01 16:12:24.460,빠른걸음,해당없음,해당없음,NaN
3,16,785460.0,2022-10-01 16:13:05.460,957500.0,2022-10-01 16:15:57.500,모든 발과 머리가 바닥과 닿은 채로 눕다,해당없음,해당없음,NaN
4,16,990460.0,2022-10-01 16:16:30.460,1178200.0,2022-10-01 16:19:38.200,놀다,해당없음,해당없음,NaN
...,...,...,...,...,...,...,...,...,...
428,74,598380.0,2022-10-01 16:09:58.380,781140.0,2022-10-01 16:13:01.140,놀다,해당없음,해당없음,NaN
429,74,923180.0,2022-10-01 16:15:23.180,1142580.0,2022-10-01 16:19:02.580,모든 발과 머리가 바닥과 닿은 채로 눕다,해당없음,해당없음,NaN
430,74,1191340.0,2022-10-01 16:19:51.340,1349580.0,2022-10-01 16:22:29.580,빠른걸음,해당없음,해당없음,NaN
431,74,1465580.0,2022-10-01 16:24:25.580,1655140.0,2022-10-01 16:27:35.140,서다,해당없음,해당없음,NaN
432,74,1728700.0,2022-10-01 16:28:48.700,1928220.0,2022-10-01 16:32:08.220,킁킁대다,해당없음,해당없음,NaN

In [18]:
data4.to_csv('kaggle_labelingtable.csv', index=False)

In [19]:
result1 = pd.concat([data3, data4], axis=0)
result1.to_csv('Capston_labelingtable.csv', index=False)